body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.match {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px;
    width: 250px;
}

.at-symbol {
    font-size: 24px;
    margin: 0 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

.navigation-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
}

.fixed-table {
    table-layout: fixed;
    width: 100%;
}

.fixed-table th, .fixed-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.team-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.result-win {
    color: green;
    font-weight: bold;
}
.result-loss {
    color: red;
    font-weight: bold;
}