.team-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.result-win {
    color: green;
    font-weight: bold;
}
.result-loss {
    color: red;
    font-weight: bold;
}
.fixed-table {
    table-layout: fixed;
    width: 100%;
}
.statistics-section {
    display: none;
    margin-top: 20px;
}
/* Alineación de las celdas de la tabla a la izquierda */
.table th, .table td {
    text-align: left;
}